@use "_mixins";

.image-background-cover {
  background-size: cover !important;
}

.image-container {
  @include mixins.clearfix;
  width: 100%;
  height: 100%;
  display: inline-block;
  flex-shrink: 0;
}

.responsive-img {
  @extend .responsive-img;
  width: 100%;
  max-width: 100%;
  position: relative;
}
