//FONTS
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-base: 15px;
$font-size-middle: 20px;
$font-size-large: 40px;
// ~12px

$font-family-base: 'Open Sans', Arial, sans-serif;
$font-family-titles: 'Oswald', Arial, sans-serif;
$font-family-content: 'PFDinTextCondPro', Arial, sans-serif;

$grid-gutter-width: 30px !default;
$grid-gutter-height: 30px !default;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$white: #fff;
$orange: #e98b39;
$blue: #2980b9;
$yellow: #f1c40f;
$red: #c0392b;
$green: #27ae60;
$teal: #009688;
$gray-darker: lighten(#000, 13.5%) !default;
$gray-dark: lighten(#000, 20%) !default;
$gray: lighten(#000, 33.5%) !default;
$gray-light: lighten(#000, 60%) !default;
$gray-lighter: lighten(#000, 93.5%) !default;
$brand-primary: #428bca !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$input-base-color: $gray-light;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;