:root {
  --font: "Roboto", sans-serif;
  --fontOrigin: 1rem;     /* 16px */
  --fontSmall: 0.625em;   /* 10px */
  --fontMedium: 0.875em;  /* 14px */
  --fontNormal: 1em;      /* 16px */
  --fontLarge:  1.375em;  /* 22px */
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;
}

@keyframes zoom {
  from {
    object-position: 0 50%;
  }
  to {
    object-position: 100% 50%;
  }
}

.card {
  position: relative;
  grid-area: card;
  align-self: center;
  justify-self: center;
  display: block;
  overflow: hidden;
  background-color: transparent !important;
  margin: 0 !important;
  font-size: var(--fontOrigin);
  border-radius: 8px !important;
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover {
  //box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.card__image img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  animation-name: zoom;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.card:hover .card__image img {
  opacity: 0.4;
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.card__body {
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__name {
  align-self: center;
  justify-self: center;
  margin: 8px 0;
  width: 100%;
  color: white;
  font-size: var(--fontLarge);
  font-weight: var(--fontLight);
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  background: -webkit-linear-gradient(white, #a1a1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;

  height: 4.5rem; /* Height for three lines of text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__name span {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem; /* Line height for three lines */
}

.card:hover .card__name {
  background: -webkit-linear-gradient(white, #c1c1c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.card__desc {
  position: relative;
  font-size: var(--fontMedium);
  font-weight: var(--fontLight);
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0 0 0;
  text-align: center;
}

.card__genres {
  position: relative;
  display: block;
  margin: 0;
  font-size: var(--fontMedium);
  font-weight: var(--fontLight);
  color: rgba(255, 255, 255, 0.8);
}

.card__year {
  position: relative;
  display: block;
  font-size: 1.1rem;
  font-weight: var(--fontLight);
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 -3px 0;
}

.card__date {
  grid-area: date;
  display: inline-block;
  align-self: left;
  justify-self: left;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-transform: uppercase;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
  color: rgba(250, 250, 250, 0.4);
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card .card--slide-in-bottom,
.card .card--slide-in-top,
.card .card--slide-in-left,
.card .card--slide-in-right,
.card .card--fade-in {
  opacity: 0;
  transition: visibility 0s var(--speed);
}

.card:hover .card--slide-in-bottom {
  animation: slide-in-bottom var(--speed) ease forwards;
}

.card:hover .card--slide-in-top {
  animation: slide-in-top var(--speed) ease forwards;
}

.card:hover .card--slide-in-left {
  animation: slide-in-left var(--speed) ease forwards;
}

.card:hover .card--slide-in-right {
  animation: slide-in-right var(--speed) ease forwards;
}

.card:hover .card--fade-in {
  animation: fade-in var(--speed) ease forwards;
}

figure {
  margin: 0 !important;
}

.button {
  position: relative;
  width: 100%;
  padding: 1rem;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.button svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.button path {
  fill: transparent;
  stroke: url(#border-gradient);
  stroke-width: 4;
}
